{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Login</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.username.label(class="form-label") }}
        {% if form.username.errors %}
        {{ form.username(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.username(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.password.label(class="form-label") }}
        {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control") }}
        {% endif %}
    </div>
    <div class="form-check mb-3 col-lg-6 mx-auto">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
    </div>
    <div class="mb-3 text-center">
        {{ form.submit(class="btn col-12 col-lg-6 btn-outline-primary") }}
    </div>
</form>
<small class="text-muted text-center d-block">
    Need an account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign up</a>.
</small>
{% endblock content %}
