{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-0">{{ user.username }}</h1>
<small class="d-block text-muted text-center mb-3">Uploaded <a href="{{ url_for('users.user_videos', username=user.username) }}" class="text-decoration-none">{{ videos.total }} video(s)</a> and created <a href="{{ url_for('users.user_playlists', username=user.username) }}" class="text-decoration-none">{{ playlists }} playlist(s)</a> since {{ user.date.strftime('%B %dth, %Y') }}.</small>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    {% if current_user == user %}
    <div class="col">
        <div class="card">
            <a href="{{ url_for('videos.upload') }}"><img src="{{ url_for('static', filename='assets/upload.jpeg') }}" class="card-img-top"></a>
            <div class="card-body">
                <p class="card-title text-center fw-bold"><a class="link-dark text-decoration-none" href="{{ url_for('videos.upload') }}">Upload</a></p>
                <p class="card-text text-center"><small class="text-muted">Submit a new video!</small></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% for video in videos.items %}
    <div class="col">
        <div class="card">
            <a href="{{ url_for('videos.video', video_id=video.id) }}">
                <img src="{{ url_for('static', filename='videos/' + video.thumbnail) }}" class="card-img-top">
            </a>
            <div class="card-body">
                <p class="card-title text-truncate text-center fw-bold"><a href="{{ url_for('videos.video', video_id=video.id) }}" class="link-dark text-decoration-none">{{ video.title }}</a></p>
                <p class="card-text text-center">
                    <small class="text-muted">
                        {{ video.date.strftime('%B %dth, %Y') }}.
                    </small>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if videos.pages > 1 %}
<nav class="mt-3">
    <ul class="pagination justify-content-center">
        {% if videos.has_prev %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('users.user_videos', username=user.username, page=videos.page-1) }}">Previous</a>
        </li>
        {% for page_num in videos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if videos.page == page_num %}
        <li class="page-item active"><a class="page-link" href="{{ url_for('users.user_videos', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item "><a class="page-link" href="{{ url_for('users.user_videos', username=user.username, page=page_num) }}">{{ page_num }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if videos.has_next %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('users.user_videos', username=user.username, page=videos.page+1) }}">Next</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock content %}
