{% extends "base.html" %}
{% block head %}
<style>
textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}
</style>
{% endblock head %}
{% block content %}
<h1 class="text-center">Edit</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.title.label(class="form-label") }}
        {% if form.title.errors %}
        {{ form.title(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.description.label(class="form-label") }}
        {% if form.description.errors %}
        {{ form.description(class="form-control font-monospace is-invalid", rows=7) }}
        <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.description(class="form-control font-monospace", rows=7) }}
        {% endif %}
    </div>
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.thumbnail.label(class="form-label") }}
        {% if form.thumbnail.errors %}
        {{ form.thumbnail(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.thumbnail.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.thumbnail(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3 text-center">
        {{ form.submit(class="btn col-12 col-lg-6 btn-outline-primary") }}
    </div>
</form>
{% endblock content %}
{% block script %}
<script>
    // Enables tab for description
    desc = document.querySelector("#description");
    desc.onkeydown = (e)=> {
        if (e.keyCode == 9) {
            let val = desc.value,
                start = desc.selectionStart,
                end = desc.selectionEnd;
            desc.value = val.substring(0, start) + '\t' + val.substring(end);
            desc.selectionStart = desc.selectionEnd = start + 1;
            return false;
        }
    }
</script>
{% endblock script %}
