{% extends "base.html" %}
{% block head %}
<style>
#description h1 { font-size: 1.5rem; }
#description h2 { font-size: 1.35rem; }
#description h3 { font-size: 1.20rem; }
#description h4 { font-size: 1.05rem; }
#description h5 { font-size: 1rem; }
</style>
{% endblock head %}
{% block content %}
<div>
    <video src="{{ url_for('static', filename='videos/' + video.video) }}" controls class="col-12"></video>
    {% if current_user == video.user %}
    <h1 class="fs-3 mb-0">
        <span role="button" data-bs-toggle="dropdown">{{ video.title }}</span>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('videos.edit_video', video_id=video.id) }}">Edit</a></li>
            <li><a class="dropdown-item" href=".modal" data-bs-toggle="modal">Delete</a></li>
        </ul>
    </h1>
    <div class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">You will <strong>NOT</strong> be abble to recover this video!</div>
                <div class="modal-footer border-0">
                    <button class="btn btn-outline-primary" data-bs-toggle="modal">Cancel</button>
                    <a class="btn btn-danger" role="button" href="{{ url_for('videos.delete_video', video_id=video.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="fs-3 mb-0">{{ video.title }}</h1>
    {% endif %}
    <small class="text-muted d-block mb-3">
        By <a href="{{ url_for('users.user_videos', username=video.user.username) }}" class="text-decoration-none">{{ video.user.username }}</a> on {{ video.date.strftime('%B %dth, %Y') }}.
    </small>
    {% if video.description %}
    <div id="description">{{ video.description |safe }}</div>
    {% endif %}
</div>
{% endblock content %}
