<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>Neotube - {{ title }}</title>
    {% else %}
    <title>Neotube</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.css') }}">
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header class="py-3 mb-4 border-bottom">
      <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-dark text-decoration-none">
          <span class="fs-4">Neotube</span>
        </a>
        <form action="/" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2">
          <input type="search" class="form-control" placeholder="Search" name="q">
        </form>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.user_videos', username=current_user.username) }}" role="button" class="btn btn-light me-2">Account</a>
        <a href="{{ url_for('users.logout') }}" role="button" class="btn btn-secondary">Sign Out</a>
        {% else %}
        <a href="{{ url_for('users.login') }}" role="button" class="btn btn-light me-2">Sign In</a>
        <a href="{{ url_for('users.register') }}" role="button" class="btn btn-primary">Sign Up</a>
        {% endif %}
      </div>
    </header>
    <div class="container my-3">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </div>
    <script src="{{ url_for('static', filename='assets/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap.js') }}"></script>
    {% block script %}{% endblock script %}
  </body>
</html>
