{% extends "base.html" %}
{% block content %}
<h1 class="text-center">New Playlist</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.title.label(class="form-label") }}
        {% if form.title.errors %}
        {{ form.title(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.title(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.thumbnail.label(class="form-label") }}
        {% if form.thumbnail.errors %}
        {{ form.thumbnail(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.thumbnail.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.thumbnail(class="form-control") }}
        {% endif %}
    </div>
    <div class="mb-3 col-lg-6 mx-auto">
        {{ form.ids.label(class="form-label") }}
        {% if form.ids.errors %}
        {{ form.ids(class="form-control form-select overflow-auto is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.ids.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.ids(class="form-control form-select overflow-auto") }}
        {% endif %}
    </div>
    <div class="mb-3 text-center">
        {{ form.submit(class="btn col-12 col-lg-6 btn-outline-primary") }}
    </div>
</form>
{% endblock content %}
