{% extends "base.html" %}
{% block content %}
{% if current_user == playlist.user %}
<h1 class="text-center mb-0">
    <span role="button" data-bs-toggle="dropdown">{{ title }}</span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('playlists.edit_playlist', playlist_id=playlist.id) }}">Edit</a></li>
        <li><a class="dropdown-item" href=".modal" data-bs-toggle="modal">Delete</a></li>
    </ul>
</h1>
<div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Are you sure?</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">You will <strong>NOT</strong> be abble to recover this playlist!</div>
            <div class="modal-footer border-0">
                <button class="btn btn-outline-primary" data-bs-toggle="modal">Cancel</button>
                <a class="btn btn-danger" role="button" href="{{ url_for('playlists.delete_playlist', playlist_id=playlist.id) }}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1 class="text-center mb-0">{{ title }}</h1>
{% endif %}
<small class="d-block text-muted text-center mb-3">Created on {{ playlist.date.strftime('%B %dth, %Y') }} by <a class="text-decoration-none" href="{{ url_for('users.user_playlists', username=playlist.user.username) }}">{{ playlist.user.username }}</a>.</small>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    {% for video in videos.items %}
    <div class="col">
        <div class="card">
            <a href="{{ url_for('videos.video', video_id=video.id) }}">
                <img src="{{ url_for('static', filename='videos/' + video.thumbnail) }}" class="card-img-top">
            </a>
            <div class="card-body">
                <p class="card-title text-truncate text-center fw-bold"><a href="{{ url_for('videos.video', video_id=video.id) }}" class="link-dark text-decoration-none">{{ video.title }}</a></p>
                <p class="card-text text-center">
                    <small class="text-muted">
                        {{ video.date.strftime('%B %dth, %Y') }}.
                    </small>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if videos.pages > 1 %}
<nav class="mt-3">
    <ul class="pagination justify-content-center">
        {% if videos.has_prev %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('playlists.playlist', playlist_id=playlist.id, page=videos.page-1) }}">Previous</a>
        </li>
        {% for page_num in videos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if videos.page == page_num %}
        <li class="page-item active"><a class="page-link" href="{{ url_for('playlists.playlist', playlist_id=playlist.id, page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item "><a class="page-link" href="{{ url_for('playlists.playlist', playlist_id=playlist.id, page=page_num) }}">{{ page_num }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if videos.has_next %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('playlists.playlist', playlist_id=playlist.id, page=videos.page+1) }}">Next</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock content %}
